html, body {
}
#register_container{
    background-image: url("image/Paris_10.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: cadetblue;
    width: 100%;
    height: 100%;
}
.register_maincontent{
    font-family: 'Times New Roman', Times, serif; 
    background-color: white;
    margin: auto;
    display: block;
    width: 80%;
    padding: 20px;
    margin: auto;
}
#welcome{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 60px; 
    margin-bottom: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.HeadRegister{
    margin: 20px;
    font-size: 25px;
    color: #17026c;
    font-weight: bold;
}
.detailRegister{
    margin-left: 20px;
    border: 1px;
    border-color: #024991;
    border-style: solid;
}
#Quantity_peopleID{
    width: 200px;
}
#ConatactNumberID{
    width: 200px;
}
#YournameID{
    width: 300px;
}

#sendData{
    margin: auto;
    display: block;
    color: #b0eaf3;
    background-color: #5c0d03;
    cursor: pointer;
}

.reg_thank{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 30px; 
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
}
#myNameReg{
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #000000;
    margin-right: 10px;
    padding-bottom: 10px;
    bottom: 0;
    right: 0;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    /* position: fixed; */
}

.backLink{
    cursor: pointer;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    color: white;
    background-color: #2c0bb0;
    text-decoration: none;
    border-radius: 25px;
    font-size: 20px;
}
.backContent{
    text-align: center;
    left: 0;
    bottom: 0;
    position: fixed;
    padding-bottom: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#imageRegister{
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    align-content: center;
}
.imageRegister01{
    width: 50%;
    height: 400px;
    align-items: center;
    display: inline-block;
    margin: auto;
    padding: 10px;
}
